@media screen and (max-width: 1179px) {
  .place__picture {
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__picture {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__picture {
    padding: 0 0 32px;
    width: 320px;
    height: 320px;
  }
}
