.photo__list {
  display: grid;
  margin: 0 auto;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  max-width: 1184px;
}

@media screen and (max-width: 1181px) {
  .photo__list {
    padding: 0 48px;
   }
}

@media screen and (max-width: 1023px) {
  .photo__list {
    padding: 0 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .photo__list {
    padding: 0 16px;
    max-width: 928px;
    gap: 12px;
  }
}
